.blogs {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}
.blogs .card {
    flex: 0 0 calc(92%/3);
    margin-top: 55px;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    -webkit-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    border: none;
}

.blogs .card .card-img-top {
    height: 300px;

}