.blogs .card {
    flex: 0 0 calc(97%/3);
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    -webkit-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.06);
    border: none;
}

.blogs .card .card-img-top {
    height: 300px;
}

.first-card {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.first-card .card-img-top {
    width: calc(100%/2);
    height: 400px;
    border-radius: 10px;
}

.paginate {
    margin-top: 20px;
    width: 100%;
}

.card-small-text {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
}

.card-title {
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.card-text {
    color: grey;
    font-size: 16px;
}

@media screen and (max-width:650px) {
    .blogs .card {
        flex: 0 0 100%;
    }   
    .first-card {
        padding: 20px;
    }
    .first-card .card-img-top {
        width: 100%;
    }
}