.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}

.text {
    width: 100%;
    height: 50px;
}

.title {
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}

.image {
    width: 100%;
    height: 300px;
}

.skeleton-wrapper {
    border: 4px;
    flex: 0 0 calc(97%/3);
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 90%;
    padding-top: -30px;
    overflow: hidden;
}

.shimmer-wrapper .card {
    margin-top: 30px;
}

.shimmer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
    overflow: hidden;
}

.shimmer {
    width: 50%;
    height: 70%;
    background: rgba(225, 225, 225, 0.2);
    transform: skew(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
}

@keyframes loading {
    0% { transform: translateX(-150%)}
    50% {transform: translateX(-60%);}
    100% {transform: translateX(150%);}
}

@media screen and (max-width:650px) {
    .skeleton-wrapper {
        flex: 0 0 100%;
    }
}