body {
    position: relative;
    background: linear-gradient(to bottom right,  #01438a 10%, #012950, #074b8f,  #012950, #002c5a) 100% no-repeat;
    background-color: #313b46;
    height: 100%;
    background-size: 300% 500%;
    overflow-x: hidden;
    animation: bg-ani 15s ease-in-out infinite;
    background-attachment: fixed;
}
@keyframes bg-ani { 
    0% {
    background-position:  0% 50%;
    }
    50% { background-position:  100% 50%; }
    100% { background-position:  0% 50%;}
}

.main {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
}